body {
  font-family: Arial, sans-serif;
}

header {
  background-color: midnightblue;
  background-image: linear-gradient(.25turn, cornflowerblue 0%, royalblue 20%, midnightblue 90%);
  color: white;
  text-align: center;
  padding: 10px 30px;
}

h1 {
  font-weight: 700;
}

.card-header {
  font-weight: 600;
  font-size: 28px;
  background-color: white;
  border: none;
  padding: 5px 5px 0 5px;
}

.card {
  border: none;
}

.card-body {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-input {
  font-size: 20px;
}

.search-btn {
  color: white;
  background-color: cornflowerblue;
  border-radius: 5px;
  margin: 15px 0;
  padding: 3px;
}

.search-history {
  border-top: solid 2px black;
}

.weather-container {
  padding: 10px 25px 10px 5px;
}

.current-weather {
  border: 1px solid black;
}

.city-title {
  font-weight: 600;
  font-size: 28px;
  background-color: white;
  padding: 10px 5px;
  margin: 0;
}

#current-weather-list {
  list-style: none;
  padding: 5px 0 10px 5px;
  margin: 0;
  line-height: 2.0;
}

.UV-green {
  background-color: green;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 15px;
}

.UV-yellow {
  background-color: gold;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 15px;
}

.UV-red {
  background-color: tomato;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 15px;
}

.forecast-title {
  font-size: 24px;
  font-weight: 700;
  padding: 10px 0;
  margin: 0;
}

.forecast-weather {
  justify-content: space-between;
  border-radius: 0px;
  margin: 0;
}

.forecast-card {
  background-color: darkslategray;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 10px 0;
}

.forecast-conditions-list {
  list-style: none;
  padding: 0;
  line-height: 2.5;
  font-size: 16px;
  font-weight: 500;
}

.weather-icon {
  width: 50px;
}

#search-history-list {
  padding-left: 0;
  padding-top: 15px;
}

.searched-city {
  background-color: silver;
  list-style: none;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  width: 97%;
}